# DIRECTORIES

broadcast/
cache/
out/
lib/
node_modules/

# CONFIGS
config/AeraVaultAssetRegistry.json
config/AeraVaultHooks.json
config/AeraVaultV2.json
config/AeraVaultV2Factory.json
config/Deployments.json
config/AeraVaultDeposit.json

coverage*
lcov.info

.DS_Store

.env

mnemonic.txt

# ABI files
AeraVaultAssetRegistry.json
AeraVaultHooks.json
AeraVaultV2.json